{% extends 'users/base.html' %}

{% load static %}

{% block title %}Log in{% endblock %}

{% block app_name %}core{% endblock %}

{% block content %}

<div class="jumbotron d-flex justify-content-center">
  <div class="container-fluid">
    <h3 class="display-3 text-center pt-2 pb-2">Log-in</h3>
    {% if not valid_form %}
      <div class="alert alert-danger">
        <p>Email or Password were incorrect, please try again.</p>
      </div>
    {% endif %}
    <form class="form-group" method="POST">
      {% csrf_token %}
      <!-- Email -->
      <div class="mb-3 row">
        <label class="form-label pt-1 col-sm-2 col-form-label" for="email">E-mail</label>
        <div class="col-sm-10">
          <input name="email" class="form-control" id="email" type="email" placeholder="example@example.com">
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3 row">
        <label class="form-label pt-1 col-sm-2 col-form-label" for="password">Password</label>
        <div class="col-sm-10">
          <input name="password" class="form-control" id="password" type="password">
        </div>
      </div>

      <!-- Remember and forgot password inline -->
      <div class="row mb-2">
        <!-- Remember me -->
        <div class="col d-flex justify-content-center">
          <div class="form-check">
            <input name="remember_me" class="form-check-input" type="checkbox" value="True" id="rememberLogin" checked>
            <label for="rememberLogin" class="form-check-label">Remember me</label>
          </div>
        </div>
        <!-- Forgot password -->
        <div class="col d-flex justify-content-center">
          <a href="#">Forgot password?</a>
        </div>

      </div>
      <div class="container-fluid d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
